body {
    background-color: rgb(31, 31, 31);
    color: white;
}


#container {
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
}


#choicesContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    
}

button:hover {
    background-color: orange;
}

#scoreBoard {
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px;
}

#scoreBoard h3 {
    margin-top: 0;
}

#rounds {
    background-color: gray;
    border-radius: 8px;
    padding: 8px;
    width: 150px;
}